<div class="card ml-2 mr-2 mt-2 mb-2 float-left" style="width: 20rem; height: 10em;">
  <div class="card-block">
    <h4 class="card-title">{{hero.hero_name}}</h4>
    <a (click)="showDetails(hero)" class="btn btn-info mb-1"
       data-toggle="modal" data-target="#detailModal">Details</a>
    <a (click)="editDetails(hero)" class="btn btn-warning mb-1"
       data-toggle="modal" data-target="#detailModal">Update</a>
    <a (click)="selectToMerge(hero)" class="btn btn-primary mb-1">Merge</a>
    <div class="card-text">
      <p>{{hero.real_name}}</p>
    </div>
  </div>
</div>

<detail-modal *ngIf="isShowHero || isEditHero"
              [detailedHero]="selectedHero"
              [isShowing]="isShowHero"
              [isEditing]="isEditHero"
              (onCancel)="cancelInitialDetailModal()"></detail-modal>